/* .body-content{
    position: relative;
} */
#profile-block{
    width: 60vw;
    padding-bottom: 5rem;
}
.top{
    display: flex;
    margin: 0 1rem 0 1rem;
}
.top-left{
    width: 50%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-right{
    width: 50%;
    display: flex;
    justify-content: end;
    margin-right: 1rem;
}
.top-right img{
    width: 30%;
    aspect-ratio: 3/3;
    object-fit: cover;
    border-radius: 10px;
}
.middle{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
}
.middle-left, .middle-right{
    width: 50%;
    display: flex;
    flex-direction:  column;
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 2rem;
}
.info-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#change-password{
    justify-content: end;
}
#change-password button{
    display: flex;
    gap: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    width: auto;
    padding: 0  0.5rem;
}
p,i{
    font-size: clamp(0.835rem, 0.845rem + 0.5vw, 1.5rem);
    line-height: 1.6;
}

#profile-block hr{
    margin: 2rem 0 5rem;
}

.profile-block{
    position:absolute;
    transition: transform 0.5s, opacity 0.5s;
}
.closeProfileBlock{
    transform: scale(0.7);
    opacity: 0.5;
}
[id^="edit"][id$="-form"] {
    position: absolute;
    z-index: -1;
    width: 30vw;
    left: 100%;
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity 0.5s, left 0.5s;
}
[id^="edit"][id$="-form"].openEditForm {
    /* transform: translate(-50%); */
    /* align-self: center; */
    left: 50%;
    transform: translateX(-50%);
    
    opacity: 1;
    z-index: 2;
}
.btn-container{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.cancel-btn, .save-btn{
    width: 40%;
}
#jsEditForm {
    display: none;
}

.input{
    width: 100%;
}
.input-wrapper {
    position: relative;
}

.input-wrapper .input {
    padding-right: 40px; 
}

.input-wrapper i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #707070;
}


@media screen and (max-width: 1440px){
    #profile-block{
        width: 70vw;
        padding-bottom: 4rem;
    }
    #profile-block hr{
        margin-bottom: 4rem;
    }
    [id^="edit"][id$="-form"] {
        width: 45vw;
    }
    
}


@media screen and (max-width: 1200px){
    #profile-block{
        width: 75vw;
        padding-bottom: 3rem;
    }
    #profile-block hr{
        margin-bottom: 3rem;
    }
    [id^="edit"][id$="-form"] {
        width: 55vw;;
    }
}

@media screen and (max-width: 991px){
    #profile-block{
        width: 80vw;
        padding-bottom: 2rem;
    }
     #profile-block hr{
        margin-bottom: 2rem;
    }
    [id^="edit"][id$="-form"] {
        width: 65vw;
    }

}

@media screen and (max-width: 768px){
    #profile-block{
        width: 70vw;
        gap: 1rem;
        height: auto;
        overflow: auto;
        padding-bottom: 1.5rem;
    }
    #profile-block hr{
        margin: 1.5rem 0; 
    }
    .middle{
        flex-direction: column;
        gap: 1.5rem;
    }
    .middle-left, .middle-right{
        width: 90%;
        margin-left: 1rem;
        margin-right: 1rem;
        gap: 1.5rem;
        /* vertical-align: middle; */
    }
    .top{
        display: flex;
        justify-content: space-between;
        margin-left: 0;
        margin-right: 0; 
    }
    .top-left{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-left: 0;
    }
    .top-right{
        width: 30%;
        display: flex;
        justify-content: end;
        margin-right: 0;
    }
    .top-right img{
        width: 80%;
        border-radius: 10px;
    }
    [id^="edit"][id$="-form"] {
        width: 70vw;
    }
    .navbar{
        width: 90vw;
    }
}

@media screen and (max-width: 540px){
    #profile-block{
        width: 80vw;
        gap: 1rem;
        height: auto;
        overflow: auto;
        padding-bottom: 1.25rem;
    }
    #profile-block hr{
        margin: 1.25rem 0;
    }
    .middle{
        flex-direction: column;
        gap: 1.5rem;
    }
    .middle-left, .middle-right{
        width: 90%;
        margin-left: 1rem;
        margin-right: 1rem;
        gap: 1.5rem;
        /* vertical-align: middle; */
    }
    .top{
        display: flex;
        justify-content: space-between;
        margin-left: 0;
        margin-right: 0; 
    }
    .top-left{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-left: 0;
    }
    .top-right{
        width: 30%;
        display: flex;
        justify-content: end;
        margin-right: 0;
    }
    .top-right img{
        width: 90%;
        border-radius: 10px;
    }
    [id^="edit"][id$="-form"] {
        width: 80vw;
    }
}

@media screen and (max-width: 400px){
    #profile-block{
        width: 90vw;
        gap: 1rem;
        height: auto;
        overflow: auto;
        padding-bottom: 1rem;
    }
    #profile-block hr{
        margin: 1rem 0;
    }
    .middle{
        flex-direction: column;
        gap: 1.5rem;
    }
    .middle-left, .middle-right{
        width: 90%;
        margin-left: 1rem;
        margin-right: 1rem;
        gap: 1.5rem;
        /* vertical-align: middle; */
    }
    .top{
        display: flex;
        justify-content: space-between;
        margin-left: 0;
        margin-right: 0; 
    }
    .top-left{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-left: 0;
    }
    .top-right{
        width: 30%;
        display: flex;
        justify-content: end;
        margin-right: 0;
    }
    .top-right img{
        width: 100%;
        border-radius: 10px;
    }
    [id^="edit"][id$="-form"] {
        width: 90vw;
    }
}




