#profile{
    width: 80vw;
    flex-direction: row;
    /* padding: 1rem; */
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    position: relative;

}
.side-panel-heading{
    padding-left: 1.5rem;
}
.side-panel{
    width: 25%;
    border-right: 0.5px solid rgb(82, 81, 81);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding-left: 0;
}

.link-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.link-container a{
    padding: 1.5rem 1.5rem;
    justify-content: left;
    border-radius: 0;
}
#profile-details-heading{
    margin-top: 2rem;
}
.main-panel{
    flex: 1;
    padding-left: 1.5rem;
}
#profile-photo-section{
    display: flex;
    gap: 1.5rem;
    align-items: center ;
    margin-top: 1.5rem;
}
.profile-image{
    width: 6rem;
    height: 6rem;
}
.profile-image img{
    object-fit: cover;
    border-radius: 999px ;
}
#change-avatar-btn{
    color: oklch(0.9219 0 0);
    border: 1px solid rgb(116, 115, 115);
    height: 3rem;
    padding: 0 1.7rem;
    font-size: medium;
}

#delete-avatar-btn{
    color: oklch(0.5829 0.1941 25.59);
    height: 3rem;
    padding: 0 1.7rem;
    font-size: medium;
    
}
#delete-avatar-btn:hover{
    background-color: oklch(0.5829 0.1941 25.59);
    color: oklch(0.9851 0 0);
}

#business-info  .info-field{
    width: 33%;
}
#business-info .input{
    width: 100%;
}

#business-info{
    margin-top: 1.5rem;
    display: flex;
    gap: 1.5rem;
}

#business-profile-heading{
    margin-top: 1rem;
}

p{
    margin-bottom: 0.7rem;
}

.email-info-heading{
    margin-top: 1.5rem;
}

.email-info-heading p{
    margin-top: 0.5rem;
}

.email-input{
    width: 32%;
    margin-top: 1.5rem;
}

.email-input .input{
    width: 100%;
}




@media screen and (max-width: 1200px){
    #profile{
        width: 80%;
    }
}

@media screen and (max-width: 991px){
    #profile{
        width: 90%;
    }
}